 body{
  background-color: #F57C00;


 }

/* Menu div style */
#menuContainer{
  background-color:#FF9800;;
  display: block;
  text-align: center;
  height: 400px;
}
#menuContainer div{
  background-color: #009688;

}
 #menuLeft{
  float: left;
  width: 630px;
  height: 340px;

  /*background-image: url("/moringa-dev-journey/res/images/frenchFries.jpg");*/

}

table, th, td {

border: 1px  #FF9800 solid ;
border-collapse: collapse;
}

th ,td {
  background-color: #009688;
}
td{
  width: 200px;
}

#menuRight{
  float: right;
  width: 630px;
  height: 340px;
  text-align: left;
}
#menuRight button{
  background-color: #F57C00;
  color: black;

}

#menuRight h2{
  text-align: center;
}
/* Owed div style */
#owed{
  background-color: #FF9800;
  display: block;
  text-align: center;
  height: 200px;
}

