 body{
  background-color: #F57C00;


 }

/* Menu div style */
#menu{
  background-color:#FF9800;;
  display: block;
  text-align: center;
  height: 400px;
}
#menu div{
  background-color: #009688;

}
 #menuLeft{
  float: left;
  width: 630px;
  height: 340px;

  background-image: url("/moringa-dev-journey/res/images/frenchFries.jpg");

}
#menuTable{
border: solid;
width: fit-content;
}

#menuRight{
  float: right;
  width: 630px;
  height: 340px;
  text-align: left;
}

/* Owed div style */
#owed{
  background-color: #FF9800;
  display: block;
  text-align: center;
  height: 200px;
}

